.home-page {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
}
.home-page .add-new-blog {
    margin: 10px auto;
    width: 90%;
    display: flex;
    padding: 10px 30px;
    gap: 5px;
    justify-content: center;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #134074;
    border-radius: 5px;
}
.home-page .data-card-container {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    gap: 30px;
}